body {
  background-color: rgb(213, 238, 115);
}

h1,
h2 {
  color: rgb(23, 23, 224);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.7rem;
}

h2 {
  font-size: 1.3rem;
}

p {
  color: rgb(0, 0, 139);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.2rem;
}

img {
  width: 100%;
  max-width: 500px;
}
